Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
configobj==5.0.5
ino==0.3.6
itsdangerous==0.24
jedi==0.8.1-final0
mercurial==3.1.1
netifaces==0.10.4
ordereddict==1.1
pyserial==2.7
requests==2.4.1
six==1.7.3
stevedore==1.0.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
wsgiref==0.1.2
